# Internal Dependencies
re
time
queue
threading
subprocess
multiprocessing

# External Dependencies
dearpygui
numpy
cv2

# Optional Dependencies
mediapipe

# Removed Dependencies
# pygrabber
# FilterGraph
# imageIO